/* body {
  background-color: #f9f9f9;
}

.traffic-card {
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#mapContainer svg {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
  margin: 0 auto;
  opacity: 0;
  animation: fadeIn 1.2s ease forwards;
}

#mapContainer line {
  transition: stroke 0.6s ease;
}

#mapContainer text {
  opacity: 0;
  animation: fadeInText 1s ease forwards 0.5s;
}

select:focus {
  box-shadow: 0 0 8px #3e82ff3d;
  border-color: #3e82ff;
  transition: all 0.3s ease-in-out;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeInText {
  to {
    opacity: 1;
  }
} */