body { 
  background: #f9f9f9; 
  text-align: center; 
  font-family: 'Arial'; 
}
#map { 
  width: 100%; 
  height: 600px; 
  max-width: 960px; 
  margin: 20px auto; 
  border-radius: 12px; 
}

#slider { 
  width: 260px; 
  margin: 16px auto; 
}

.card-custom { 
  background: #fff; 
  border-radius: 12px; 
  box-shadow: 0 2px 10px rgba(0,0,0,0.1); 
  padding: 20px; 
  margin-top: 20px; 
}